[submodule "ureg"]
	path = ureg
	url = git@github.com:overseaslabs/example-user-registry.git
[submodule "mailer"]
	path = mailer
	url = git@github.com:overseaslabs/example-mailer.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:overseaslabs/example-postgres.git
[submodule "kong"]
	path = kong
	url = git@github.com:overseaslabs/example-kong.git
[submodule "web"]
	path = web
	url = git@github.com:overseaslabs/example-web.git
