#Kong GUI
KONGA_DS_DB=example_konga
KONGA_DS_USER=example_konga
KONGA_DS_PASS=example_konga

NODE_ENV=production
DB_ADAPTER=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USER=example_konga
DB_PASSWORD=example_konga
DB_DATABASE=example_konga