#the database engine used by Kong
KONG_DATABASE=postgres
KONG_ADMIN_LISTEN="0.0.0.0:8001, 0.0.0.0:8444 ssl"

#the database details
KONG_PG_HOST=postgres
KONG_PG_USER=kong
KONG_PG_PASSWORD=kong
KONG_PG_DATABASE=kong