#############################
# Mailing service
#############################

MAILER_DS_URL=jdbc:postgresql://postgres:5432/example_mailer
MAILER_DS_DB=example_mailer
MAILER_DS_USER=example_mailer
MAILER_DS_PASS=example_mailer

SENDGRID_API_KEY=###SENDGRID_API_KEY###