#############################
# Postgres
#############################

#postgres image config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=passw#123
PGDATA=/var/lib/postgresql/data/pgdata

#polling user details
POLLING_USER=polling
POLLING_PASS=polling
POLLING_DB=polling