#############################
# User registry
#############################

UREG_DS_URL=jdbc:postgresql://postgres:5432/example_ureg
UREG_DS_DB=example_ureg
UREG_DS_USER=example_ureg
UREG_DS_PASS=example_ureg